{
  "presets": ["babel-preset-expo"],
  "plugins": [
    ["module-resolver", {
      "root": ["./"],
      "alias": {
        "@components": "./src/components",
        "@di": "./di",
        "@drizzle": "./drizzle"
      },
      "extensions": [".js", ".jsx", ".tsx", ".ios.js", ".android.js"]
    }],
    ["inline-import", {
      "extensions": [".sql"]
    }]
  ]
}