{
  "presets": ["babel-preset-expo"],
  "plugins": [
    ["module-resolver", {
      "root": ["./"],
      "alias": {
        "@components": "./src/components",
        "@di": "./src/di",
        "@drizzle": "./drizzle",
        "@locales": "./locales",
        "@assets": "./assets",
        "@hooks": "./src/hooks",
        "@exercises": "./src/exercises",
        "@database": "./src/database"
      },
      "extensions": [".js", ".jsx", ".tsx", ".ios.js", ".android.js"]
    }],
    ["inline-import", {
      "extensions": [".sql"]
    }]
  ]
}